<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>
      <%= title %>
      </title>
       <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div id="parent">
       <div id="parent2">

        <div id="todo">
            <h1>TODO App</h1>
        </div>
      <form action="/create-ToDoApp" method="POST">
          <div id="description-area">
            <label for="description-box">DESCRIPTION</label>
            <textarea name="task" id="description-box" cols="20" rows="5" placeholder="What do you need to do?" required></textarea>
          </div><br>

      <div id="vk">
           <div id="category">
            <label for="category-box">CATEGORY</label>
         <select name="category" id="category-box">
            <option value="college">college</option>
            <option value="study">study</option>
            <option value="personal">personal</option>
            <option value="shoping">shoping</option>
            <option value="other">other</option>
        </select>
          </div> <br>

          <div id="due-date">
            <label for="date">DUE DATE</label>
                <input type="date" id="date" name="date"> 
          </div>
        </div>

         <div id="operation">
             <div id="add">
              
            <button type="submit" value="submit" id="btn"><i class="fas fa-plus"></i>ADD TASK</button>
             </div>
             <div id="delete">

                <!-- <button><i class="fas fa-trash-alt"></i><a id="myLink" href="link>">Delete Task</a></button> -->
                <a id="myLink" href="link>"><i class="fas fa-trash-alt"></i>Delete Task</a>
             </div>
         </div>
      </form>
      
      <% for(let i of initial) { %>
    <div class="listing">
       
       <div class="tick-and-label">

           
           <input type="checkbox" id="task1" class="messageCheckbox" name="task1" value="<%= i.id %>" onchange="dosomething(this.value)">
           <label for="task1" id="check-lebel"><%= i.work %></label>
        
       </div>

       <div clss="calender-date" style="margin-left:-48px;margin-top:40px;">
         <i class="fas fa-calendar-alt"></i>
         <h4 style="display:inline;margin-top:-3px;"><%= i.time %></h4>
       </div>
          <button class="last-btn" ><%= i.categ %></button>
    </div>

    <% } %>
    </div>
    </div> 
    <script type="text/javascript" src="/js/myJavaScript.js"></script>

</body>
</html>